.nav-menu {
    color: rgb(61, 61, 61);
    font-size: 16px;
    text-decoration: none;
    margin: 20px;
    padding: 0, 20px;
    font-size: 20px;
    font-weight: bold;
}

#Navbar {
    height: 80px;
}
#Navbar .container{
    margin-left: 50px;
    margin-right: 50px;
}
.nav-title{
    
    font-size: 27px;
}

.me-auto {
    text-align: center;
    margin: auto;
}

.nav-menu {
    font-size: 36px;
    padding-left: 290px;
}